// 521px window width and more
$screen-sm-min: 521px;
$screen-sm-max: 520px;

// 921px window width and more
$screen-md-min: 921px;
$screen-md-max: 920px;

// 1341px window width and more
$screen-lg-min: 1341px;
$screen-lg-max: 1340px;