.neurons-button {
    align-items: center;
    appearance: none;
    background-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgb(66, 66, 66);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(66, 66, 66);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(66, 66, 66);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(66, 66, 66);
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-weight: 500;
    height: 36px;
    justify-content: center;
    letter-spacing: 1.16071px;
    line-height: 19.5px;
    min-width: 64px;
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
    position: relative;
    text-decoration: rgb(255, 255, 255);
    text-transform: uppercase;
    vertical-align: middle;
    display: inline-block;
}

.btn-text {
    align-items: center;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-weight: 500;
    justify-content: center;
    letter-spacing: 1.16071px;
    line-height: 19.5px;
    text-transform: uppercase
}

.neurons-button:hover {
    background-color: rgba(128, 128, 128, 0.075);
}