.main {
    margin-top: 112px;
}

@media screen and (min-width: 921px) {
    .main {
        margin-top: 72px;
    }
}

.hero {
    background-color: #212121;
    padding-top: 144px;
    padding-bottom: 64px;
    display: block;
    min-height: 400px;
}

.hero-container {
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding: 0 16px 0 16px;
}

.hero-header {
    font-size: 48px;
    color: rgb(250, 250, 250);
    font-weight: 400;
    letter-spacing: -0.075;
}

.hero-title {
    font-family: Roboto, sans-serif;
    font-size: 1.6rem;
    line-height: 22px;
    letter-spacing: 0.114286px;
    color: #bdbdbd;
    font-weight: 400;
    text-decoration: rgb(189, 189, 189);
    margin-top: 16px;
    margin-bottom: 16px;
}